/* Base styles */
.activity-card {
  border: 1.5px solid #ccc;
  padding: 20px;
  margin: 10px 0;
  border-radius: 11px;
  background-color: white;
  position: relative;
 }
 
 /* Responsive styles */
 @media (max-width: 768px) {
  .activity-card {
     min-width: 100%;
     width: 100%;
  }
 }
 
 @media (min-width: 769px) and (max-width: 1024px) {
  .activity-card {
     min-width: 50%;
     width: 50%;
  }
 }
 
 @media (min-width: 1025px) {
  .activity-card {
     min-width: 33.33%;
     width: 33.33%;
  }
 }